<div class="navbar">
  <a href="/">Home</a>
  <a href="/updates">Updates</a>
  <a href="/guide">Guide</a>
  <div class="navbar-right">
    {{#if userData.isAuthenticated}}
    <a class="no-hover">{{userData.username}}</a>
    <a id="nav-btn"><div class="menu-icon">
      <div class="icon-bar"></div>
      <div class="icon-bar"></div>
      <div class="icon-bar"></div>
    </div><i class="triangle-down"></i></a>
    <a href="/profile">Profile</a>
    {{else}}
    <a href="/login">Sign in</a>
    <a href="/register">Sign up</a>
    {{/if}}
  </div>
</div>
{{#if userData.isAuthenticated}}
<div class="navmenu hidden" id="dropdown-nav">
  <a href="/user-feed/current">Your feed</a>
  <a href="/classes/form/new">New class</a>
  <a href="/logout">Sign out</a>
</div>
{{/if}}