<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {{{ _sections.head }}}
  <link rel="stylesheet" type="text/css" href="http://localhost:5005/static/css/styles.css">
</head>
<body>
  {{> user-header }}
  <div class="content-full">
  {{{ body }}}
  </div>
</body>
</html>