{{#section 'head'}}
  <title>Class Home</title>
{{/section}}
<body>
  <h3 class="pagetitle">{{name}} - Homepage</h3>
  <p><a href="/classes/school/{{schoolData.schoolnum}}">
  See other classes from {{schoolData.schoolname}}</a></p>
  <p>Class information</p>
  <p>{{description}}</p>
</body>