{{#section 'head'}}
  <title>Class Home</title>
{{/section}}
{{> sidebar this }}
<div class="content">
<p class="title">{{classObj.name}} - Homepage</p>
<p><a href="/classes/school/{{classObj.schoolData.schoolnum}}">
See other classes from {{classObj.schoolData.name}}</a></p>
<p class="heading">Class information</p>
<p>{{classObj.description}}</p>
</div>