{{#section 'head'}}
<title>Create new class - Falkai</title>
<script src="/static/js/create-class-jquery.js"></script>
{{/section}}
<div class="content-full">
  <div class="sm10-col"></div>
  <div class="lg80-col ns-padded">
    <p class="title">Create new class</p>
    <form action="/classes/form/create" method="post" id="form">
      <input name="name" id="name" type="text" placeholder="Title" required/>
      <textarea class="large-input" name="description" id="description" maxlength="2000" type="text" placeholder="Type a short description here" required></textarea>
      <p class="small"><span id="charcount">2000</span> characters left</p>
      <select name="postperm" id="postperm" form="form">
        <option value="0">Only admins can post</option>
        <option value="1">Anyone can post</option>
      </select>
      <input name="school" id="school" type="text" placeholder="Organization name" value="Public" hidden/>
      <a class="btn submit-btn" id="submit-form">Submit</a>
    </form>
  </div>
  <div class="sm10-col"></div>
</div>