{{#section 'head'}}
<title>Create new class</title>
{{/section}}
<h3>Create new class</h3>

<form action="/classes/form/create" method="post">
  <input name="name" id="name" type="text" placeholder="Title" />
  <input name="description" id="description" type="text" placeholder="Type a short description here"/>
  <input name="school" id="school" type="text" placeholder="School name"/>
  <input type="submit" />
</form>