{{#section 'head'}}
<title>Create new class - Falkai</title>
{{/section}}
<h3>Create new class</h3>

<form action="/classes/form/create" method="post">
  <input name="name" id="name" type="text" placeholder="Title" />
  <textarea class="large-input" name="description" id="description" type="text" placeholder="Type a short description here"></textarea>
  <input name="school" id="school" type="text" placeholder="Organization name"/>
  <input type="submit" />
</form>