{{#section 'head'}}
<title>Invalid invite</title>
{{/section}}
<p class="title">
  Invalid invite
</p>
<p>This link is invalid or may have expired</p>
<p>Check to make sure you have a valid invite link</p>