{{#section 'head'}}
<title>Invite</title>
{{/section}}
<div class="content-full all-padded">
<p class="title">
  Success!
</p>
<p>You've have successfully joined</p>
<p>You will be redirected momentarily...</p>
</div>
<script>
  var redirect = "{{class}}";
  window.setTimeout(function(){ window.location = window.location.hostname+"/classes/"+redirect+"/home"; },3000)
</script>