{{#section 'head'}}
<title>404 - Falkai</title>
{{/section}}
<div class="content-full">
  <div class="welcome-bar">
    <p class="xlg-title">404</p>
    <p>Looks like you followed an invalid link!</p>
    <p>If you got here through a link on the site, you could let the developers know of the error.</p>
    <p>Otherwise, try using the header above to navigate through our site.</p>
  </div>
</div>