{{#section 'head'}}
<title>About - Falkai</title>
{{/section}}
<div class="welcome-bar">
<div class="sm10-col"></div>
<div class="lg80-col">
  <p class="xlg-title">Falkai</p>
  <p class="title">Streamline your workflow</p>
</div>
<div class="sm10-col"></div>
</div>
<div class="sm10-col"></div>
<div class="lg80-col">
  <p class="heading">What is Falkai?</p>
  <p>Falkai is almost entirely built by students. Our team </p>
</div>
<div class="sm10-col"></div>