{{#section 'head'}}
<title>About - Falkai</title>
{{/section}}
<div class="welcome-bar">
<div class="sm10-col"></div>
<div class="lg80-col">
  <p class="xlg-title">Falkai</p>
  <p class="title">Streamline your workflow</p>
</div>
<div class="sm10-col"></div>
</div>
<div class="sm10-col"></div>
<div class="lg80-col">
  <p class="heading">What is Falkai?</p>
  <p>Falkai is an online web app built entirely by students. The original goal of this website was to help 
    students keep track of assignments by collaboratively planning their work with other students. We
    adapted this idea to develop an app that not only benefits students, but can also help any team
    organize tasks.
  </p>
  <p>Falkai is still undergoing development, so features may be added or changed frequently. Check
    our update log for more information, or contact us with any questions or concerns.
  </p>
  <p class="heading">Our Team</p>
  <p>Daniel Li - Lead Developer</p>
  <p>Edward Bian - Developer, Manager</p>
  <p class="heading">Contact Us</p>
  <p>You can contact the developers at our email, falkai.app@gmail.com</p>
</div>
<div class="sm10-col"></div>