{{#section 'head'}}
<title>Guide - Falkai</title>
{{/section}}
<div class="welcome-bar">
<div class="sm10-col"></div>
<div class="lg80-col">
  <p class="xlg-title">Falkai</p>
  <div class="md40-col all-padded">
    <p class="title">Organize your tasks, as a group.</p>
    <p>By managing a planner as a group, you become more organized and less likely to leave out important tasks.</p>
    <p>Create multiple groups or classes, each with their own feed.</p>
  </div>
  <div class="sm20-col"></div>
  <div class="md40-col all-padded">
    <p class="title">Manage your workflow by tracking your progress.</p>
    <p>Falkai allows you to keep track of your progress on assigned tasks, so you can easily see your remaining tasks.</p>
    <p>You can also set an estimate for the total workload of each task, allowing you to schedule and prioritze work more effectively.</p>
  </div>
  <div class="md40-col all-padded">
    <p class="title">Discover new communities.</p>
  </div>
  <div class="sm20-col"></div>
  <div class="md40-col all-padded">
    <p class="title">Built by students, designed for all</p>
    <p>Falkai is a platform built by students, designed to address work management and team operation for anyone.</p>
    <p>If you have any concerns or suggestions, feel free to contact the developers.</p>
  </div>
</div>
<div class="sm10-col"></div>
</div>
<div class="sm10-col"></div>
<div class="lg80-col ns-padded">
  <p class="heading">Guide</p>
  <ul>
    <li>
      <p class="emphasized">How do I join a class?</p>
      <p>You will need to follow an invite link to join a class, or create a new class and invite others.</p>
      <p>Public classes will be added in the future, so keep an eye out for those as well.</p>
    </li>
    <li>
      <p class="emphasized">What are the feeds?</p>
      <p>You have access to two personal feeds, one that shows incomplete assignments, and one that shows assignments that are not overdue.
        Every class also has its own feed, which shows all assignments from that class.</p>
      <p>In a feed, each assignment shows up in its own block. If the text is italicized, it indicates a new assignment.
        Once you click on them, they will change their appearance. The feeds are also separated into complete and incomplete assignments,
        to assist in organizing your tasks.</p>
    </li>
    <li>
      <p class="emphasized">How do I interact with the assignments?</p>
      <p>Each assignment shows up as a shaded rectangular block, containing the title, time of upload, quantity of work, and due date.</p>
      <p>Clicking on the upper half (anywhere above the due date) will reveal additional options for each assignment.
        The extended portions include the description of the assignment and a slider bar indicating your completion of the assignment.</p>
      <p>To update the completion, click and drag the slider, then click the update button next to the slider. 
        To mark an assignment as complete, drag the slider to the end, then click the update button.</p>
      <p>The number next to the slider indicates the number of units of work completed, which is reflected in the upper text of the assignment.</p>
    </li>
    <li>
      <p class="emphasized">Where are all the links?</p>
      <p>You can navigate the site through the header, sidebar, and links in the body.</p>
      <p>For your convenience, a site map for pages not specific to each class is at the bottom of this guide.</p>
    </li>
  </ul>
  <p class="heading">Sitenav</p>
  <div class="med-col small">
    <a href="/profile">Profile</a><br>
    <a href="/user-feed/incomplete">Incomplete assignments</a><br>
    <a href="/user-feed/current">Current assignments</a><br>
  </div>
  <div class="med-col small">
    <a href="/classes/form/new">Create new class</a><br>
    <a href="/login">Login</a><br>
    <a href="/register">Register</a><br>
  </div>
</div>