{{#section 'head'}}
<title>New User</title>
{{/section}}
<div class="welcome-bar">
<div class="sm10-col"></div>
<div class="lg80-col">
  <p class="xlg-title">Falkai</p>
  <div class="md40-col all-padded">
    <p class="title">Organize your tasks, as a group.</p>
    <p>By managing a planner as a group, you become more organized and less likely to leave out important tasks.</p>
    <p>Create multiple groups or classes, each with their own feed.</p>
  </div>
  <div class="sm20-col"></div>
  <div class="md40-col all-padded">
    <p class="title">Manage your workflow by tracking your progress.</p>
    <p>Falkai allows you to keep track of your progress on assigned tasks, so you can easily see your remaining tasks.</p>
    <p>You can also set an estimate for the total workload of each task, allowing you to schedule and prioritze work more effectively.</p>
  </div>
  <div class="md40-col all-padded">
    <p class="title">Discover new communities.</p>
  </div>
  <div class="sm20-col"></div>
  <div class="md40-col all-padded">
    <p class="title">Built by students, designed for all</p>
    <p>Falkai is a platform built by students, designed to address work management and team operation for anyone.</p>
    <p>If you have any concerns or suggestions, feel free to contact the developers.</p>
  </div>
</div>
<div class="sm10-col"></div>
</div>
<div class="sm10-col"></div>
<div class="lg80-col">
</div>