{{#section 'head'}}
<title>Log in</title>
{{/section}}
<div class="small-col"></div>
<div class="med-col login-form all-padded">
<h3>Log in</h3>

<form action="/login" method="post">
  <input name="username" id="username" type="text" placeholder="Your username" />
  <input name="password" id="password" type="password" placeholder="Your password"/>
  <input type="submit" />
</form>
</div>