/* Base global formatting */

body {
  background-color: white;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0;
}
input, textarea {
  width: 100%;
  height: 36px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
  margin: 10px 0px 10px 0px;
  padding: 0px 10px 0px 10px;
  box-shadow: 0px 0px 3px 0px #eee inset;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}
input:focus, textarea:focus {
  outline: none;
  box-shadow: 0px 0px 0px 3px rgba(0,96,255,0.2), 0px 0px 3px 0px #eee inset;
  border: 1px solid #6cbbf7;
}
input.num-input {
  width: 60px;
  height: 20px;
  border-radius: 5px;
  border: 2px solid #888;
  box-shadow: 0px 0px 3px 0px #888 inset;
}
input.num-input:invalid {
  border: 2px solid red;
}
textarea {
  resize: none;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
  padding: 10px;
}

/* a tag buttons */
a {
  margin: 0;
}
a.btn {
  display: inline-flex;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid black;
  border-radius: 3px;
  background-color: #eee;
  background-image: linear-gradient(#eee, #ddd);
  color: #222;
  align-items: center;
}
a.btn:hover {
  background-image: none;
  background-color: #bbb;
}
a.btn:active {
  background-color: #aaa;
  background-image: linear-gradient(#aaa, #bbb);
}

p {
  margin: 0px 0px 10px 0px;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow-y: auto;
}

div {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Vertical grid classes */

.lg80-col { float: left; min-height: 1px; width: 80%; }
.large-col, .lg75-col { float: left; min-height: 1px; width: 75%; }
.med-col, .md50-col { float: left; min-height: 1px; width: 50%; }
.md40-col { float: left; min-height: 1px; width: 40%; }
.md35-col { float: left; min-height: 1px; width: 35%; }
.md30-col { float: left; min-height: 1px; width: 30%; }
.small-col, .sm25-col { float: left; min-height: 1px; width: 25%; }
.sm20-col { float: left; min-height: 1px; width: 20%; }
.sm15-col { float: left; min-height: 1px; width: 15%; }
.sm10-col { float: left; min-height: 1px; width: 10%; }

/* Assignment display settings */

.assignments, .completed-assignments {
  overflow-y: auto;
}
div.assignment {
  width: 75%;
  float: left;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #e0e0f0;
}
div.assignment[new-assign] {
  border: 1px solid #c41010;
  background-color: #e8e8f8;
  font-style: oblique;
}
div.assignment[comp-assign] {
  background-color: #e0f0e0;
}

div.dropdown-details {
  overflow: hidden;
  border: 2px 0px 2px 0px solid #888;
  background-color: #ddd;
}
div.hidden-details {
  padding: 10px;
  border: 1px solid #888;
  background-color: #ddd;
}

/* Top navigation header */

.navbar {
  width: 100%;
  height: 48px;
  position: fixed;
  top: 0;
  background-color: #262630;
  box-shadow: 0px 0px 5px 0px #444;
  z-index: 100;
}
.navbar a {
  display: block;
  float: left;
  padding: 15px 15px 15px 15px;
  font-size: 16px;
  text-decoration: none;
  color: rgb(169, 255, 226);
  text-align: center;
  transition: background-color 0.4s;
}
.navbar a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.navbar-right {
  float: right;
}

/* The height of the navbar is added to the margin of content */
.sidebar {
  width: 180px;
  height: 100%;
  overflow-x: hidden;
  position: fixed;
  left: 0;
  background-color: #eee;
  padding: 20px 15px 20px 15px;
}
.sidebar a {
  display: block;
  width: 100%;
  padding: 5px 15px 5px 15px;
  font-size: 16px;
  color: black;
  text-decoration: none;
  transition: box-shadow 0.4s, background-color 0.4s;
}
.sidebar a:hover {
  box-shadow: 50px 0px 60px -50px rgb(169, 255, 226) inset;
  background-color: rgba(0, 0, 0, 0.1);
}
.content {
  margin-top: 48px;
  width: calc(100% - 180px);
  margin-left: 180px;
  padding: 20px 15px 20px 15px;
}
@media screen and (max-width: 600px) {
  .sidebar {
    display: none;
  }
  .content {
    width: 100%;
    margin-left: 0px;
  }
}
.content-full {
  margin-top: 48px;
  width: 100%;
}

.confirm-overlay {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.85);
  z-index: 1000;
}
.popup {
  width: 50%;
  position: absolute;
  top: 15%;
  left: 25%;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  background: white;
  z-index: 1001;
}

.error-notice {
  width: 75%;
  display: block;
  float: left;
  border: 2px solid #e65e5e;
  border-radius: 10px;
  background-color: #ffd0d0;
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
}

.welcome-bar {
  width: 100%;
  display: block;
  background-color: #383840;
  color: #ddd;
  overflow-y: auto;
}
.welcome-bar .title, .welcome-bar .xlg-title {
  color: rgb(169, 255, 226);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a.submit-btn {
  width: 100%;
  box-sizing: border-box;
  margin: 10px 0px 10px 0px;
  border-radius: 5px;
  height: 36px;
}
a.ban-btn {
  background-image: linear-gradient(#e65e5e, #db2323);
  display: inline-flex;
  visibility: hidden;
}
li.user {
  display: flex;
  align-items: center;
  overflow-y: auto;
}
li.user:hover div a.ban-btn, a.ban-btn:hover {
  visibility: visible;
}
/* Spacing */

.all-padded { padding: 10px 10px 10px 10px; }
.ew-padded { padding: 0px 10px 0px 10px; }
.ns-padded { padding: 10px 0px 10px 0px; }

textarea.line-input {
  height: 24px;
}
textarea.large-input {
  height: 120px;
}

/* Inspired by https://codepen.io/brandonmcconnell/pen/oJBVQW */
input[type="range"] {
  outline: 0;
  border: 2px solid white;
  border-radius: 10px;
  width: 100%;
  padding: 0;
  margin: 0px 50px 0px 0px;
  transition: box-shadow 0.2s ease-in-out;
}
input[type="range"]:focus {
  outline: none;
  box-shadow: none;
  border: 2px solid white;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  input[type="range"] {
    overflow: hidden;
    height: 30px;
    -webkit-appearance: none;
    background-color: #ddd;
  }
  input[type="range"]::-webkit-slider-runnable-track {
    height: 30px;
    -webkit-appearance: none;
    color: #444;
    transition-property: box-shadow;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }
  input[type="range"]::-webkit-slider-thumb {
    width: 20px;
    -webkit-appearance: none;
    height: 30px;
    cursor: ew-resize;
    background: #ffc13b;
    box-shadow: -500px 0 0 490px #ffc13b, inset 0 0 0 15px #ffc13b;
    border-radius: 10px;
    transition-property: box-shadow, background-color;
    transition-duration: 0.2s, 0s;
    transition-timing-function: ease-in-out;
    position: relative;
  }
  input[type="range"]:hover::-webkit-slider-thumb {
    background: #ffae00;
    box-shadow: -500px 0 0 490px #ffae00, inset 0 0 0 15px #ffae00;
  }
  input[type="range"]:active::-webkit-slider-thumb {
    background: #fff;
    box-shadow: -500px 0 0 490px #ffae00, inset 0 0 0 5px #ffae00;
  }
}

/* Additional display settings */

.hide, .hidden { display: none; }

a.disabled {
  background-image: none;
  background-color: #ddd;
  color: #808080;
}
a.disabled:hover {
  background-image: none;
  background-color: #ddd;
  color: #808080;
}
a.disabled:active {
  background-image: none;
  background-color: #ddd;
  color: #808080;
}

/* Text formatting */

.num-display {
  font-family: Georgia, "Times New Roman", Times, serif;
}
p.num-display {
  display: inline-flex;
  height: 30px;
  align-items: center;
  padding: 0px 10px 0px 10px;

}

.small {
  font-size: 12px;
}
.title {
  font-size: 22px;
  font-weight: bold;
}
.subtitle, .heading{
  font-size: 18px;
  font-weight: bold;
}
.load, .emphasized {
  font-weight: bold;
}
.xlg-title {
  font-size: 64px;
  font-weight: 600;
}
.centered {
  text-align: center;
}

/* Other image/graphic formatting */
.triangle-down {
	width: 0;
	height: 3px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
  border-top: 5px solid rgb(169, 255, 226);
  display: inline-block;
}
.menu-icon {
  display: inline-block;
  margin-right: 5px;
}
.menu-icon div {
  width: 16px;
  height: 2px;
  margin: 3px 0px 0px 0px;
  background-color: rgb(169, 255, 226);
}