<div class="sidebar">
  <p class="heading">Class Menu</p>
  <a href="/classes/{{classID}}/home">Class Home</a>
  <a href="/classes/{{classID}}/feed">Class Feed</a>
  <p></p>
  <p class="heading">All</p>
  <a href="/">Home</a>
</div>