<header>
<div class="navbar">
  <a href="/">Home</a>
  <div class="dropdown">
    <button class="dropbtn">Classes
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/classes/form/new">Create Class</a>
    </div>
  </div>
  <a href="/profile">Profile</a>
</div>
</header>